<%- include("partials/header") %>

<h1>Login</h1>
<form action="/login" method="POST">
    <div class="input">
        <label for="usernameInput">Username</label>
        <input id="usernameInput" type="text" name="username" placeholder="Username">
    </div>
    <div class="input">
        <label for="passwordInput">Pasword</label>
        <input id="passwordInput" type="password" name="password" placeholder="Password">
    </div>

    <button class="btn btn-primary">Login</button>
    
</form>





<%- include("partials/footer") %>